 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Poppins", sans-serif;
     color: whitesmoke;
     /* background-color: black; */
     background-color: #131515;
 }

 html {
     scroll-behavior: smooth;
 }

 title img {
     height: 40px;
     margin: -10px;
 }

 /* whole page settings */

 #mainPage {
     min-height: 100vh;
     max-width: 100%;
     margin: 0 auto;
 }

 .mainPage {
     margin: 0 auto;
     max-width: 100%;
 }

 /* NAV BAR CSS */
 #nav {
     max-width: 85%;
     margin: 0 auto;
     padding: 25px 0px;
 }

 .nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .logo {
     text-align: center;

 }

 .logo h1 {
     font-size: 2rem;
     font-family: "Raleway", sans-serif;


 }

 .logo span {
     background-image: linear-gradient(to right, #61d3c9, #42a3c0);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .navContent {
     display: flex;
 }

 .navContent ul {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .navContent ul li {
     list-style: none;
     padding: 0px 25px;
 }


 .navContent ul li a {
     text-decoration: none;
     color: whitesmoke;
     position: relative;
     font-size: 0.9rem;
     /* Added position relative to create stacking context */
 }

 .navContent ul li a span {
     position: absolute;
     /* Added position absolute to position span inside anchor */
     top: 0;
     left: -20px;
     height: 100%;
     /* Ensures span takes full height of anchor */
     width: 100%;
     /* Ensures span takes full width of anchor */
     pointer-events: none;
     /* Ensures span doesn't interfere with hover events */
     transition: background-color 1s;
     /* Added transition for background color change */
     background-image: linear-gradient(to right, transparent, transparent);
     /* Initially transparent background */
 }

 .navContent ul li a:hover span {
     background-image: linear-gradient(to right, #30e4d5, #18b5e6);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     color: transparent;
     /* Hides the original text color */
 }

 .navLinks ul {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .navLinks ul li {
     list-style: none;
     padding: 0px 10px;
 }

 .navLinks ul li a {
     text-decoration: none;
     color: whitesmoke;
     cursor: pointer;
 }

 .navLinks ul li a i {
     font-size: 1.2rem;
 }

 .navLinks ul li a:hover {
     background-image: linear-gradient(to right, #61d3c9, #219ec4);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 /* HOME PAGE CSS */
 #homePage {
     min-height: 85vh;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* align-items: center; */
 }

 .homePage {
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 86%;
     margin: 0 auto;
 }

 .homePageLeftContent h1 {
     font-size: 3.5rem;
     background-image: linear-gradient(to right, #61d3c9, #42a3c0);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     line-height: 60px;
     padding: 45px 0px;

 }

 .homePageLeftContent p {
     font-size: 0.95rem;
     line-height: 28px;
     max-width: 80%;


 }

 .prjBtn {
     padding-top: 30px;
     display: flex;
     align-items: center;
     justify-content: start;
 }


 .homePageRightContent {
     width: 60%;
     height: 80vh;
     border-radius: 64% 36% 47% 53% / 38% 39% 61% 62%;
     /* background-color: darkcyan; */
     background: linear-gradient(to right, #232928, #012029);
     border-color: transparent;
     overflow: hidden;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .homePageRightContent img {
     min-height: 60vh;
     max-width: 60vh;
     opacity: 0.96;
     /* border-radius: 20%; */
 }

 /*  ABOUT PAGE CSS*/
 #aboutPage {
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     min-height: 110vh;
     max-width: 100%;
     background-color: rgb(19, 18, 18);
 }

 .aboutPage {
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-width: 88%;
     /* margin: 0 auto; */
 }

 .aboutPageLeftContent {
     width: 35%;
     height: 80vh;
     border-radius: 64% 36% 47% 53% / 50% 51% 49% 50%;
     /* background-color: darkcyan; */
     background: linear-gradient(to right, #232928, #012029);
     border-color: transparent;
     overflow: hidden;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .aboutPageLeftContent img {
     min-height: 60vh;
     max-width: 60vh;
     opacity: 0.96;
     /* border-image: fill 0 linear-gradient(#0003, #000); */
 }

 .aboutPageRightContent {
     max-width: 50%;
 }



 .aboutPageRightContent h1 {
     font-size: 3.4rem;
     line-height: 36px;
     padding: 40px 0px;
 }

 .aboutPageRightContent h1 span {
     background-image: linear-gradient(to right, #61d3c9, #42a3c0);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .aboutPageRightContent p {
     font-size: 0.95rem;
     line-height: 26px;
 }

 .aboutPageLinksContainer h2 {
     padding: 25px 0px;

 }

 .aboutPageLinks h2 {
     font-size: 1.8rem;

 }

 .sliderWrapper {
     position: relative;
     max-width: 42.2rem;
     /* max-width: 100%; */
     margin: 0;
     padding: 0;
 }


 .line {
     flex: 0 0 auto;
     scroll-snap-align: start;
     white-space: nowrap;
     max-width: 100%;
 }

 .line ul {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 10px;
     text-align: center;
     padding: 0;
 }

 .line ul li {
     list-style: none;
     margin: 9px 4px;
 }

 .line ul li a {
     text-decoration: none;
     color: whitesmoke;


 }


 .line ul li a #lineButton {
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: center;
 }

 /* This is an example, feel free to delete this code */
 .tooltip-container {
     position: relative;
     cursor: pointer;
     transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
     font-size: 17px;
     color: whitesmoke;
     padding: 1.5em 3.5em;
     border-radius: 8px;
     /* text-transform: uppercase; */
     height: 30px;
     width: 80px;
     display: grid;
     place-items: center;
     border: 1px solid gray;
 }

 .text {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: grid;
     place-items: center;
     transform-origin: -100%;
     transform: scale(1);
     transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
 }

 .tooltip-container span:last-child {
     position: absolute;
     top: 0%;
     left: 100%;
     width: 100%;
     height: 100%;
     border-radius: 8px;
     opacity: 1;
     background-color: var(--background);
     background: linear-gradient(to right, #4fa8a1, #42a3c0);
     z-index: 1;
     border: 2px solid var(--background);
     transform: scale(0);
     transform-origin: 0;
     transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
     display: grid;
     place-items: center;
 }

 .tooltip {
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     padding: 0.3em 0.6em;
     opacity: 0;
     pointer-events: none;
     transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
     background: var(--background);
     z-index: 1;

     border-radius: 8px;
     scale: 0;
     transform-origin: 0 0;
     text-transform: capitalize;
     font-weight: 400;
     font-size: 16px;
     box-shadow: rgba(179, 159, 159, 0.25) 0 8px 15px;
 }

 .tooltip::before {
     position: absolute;
     content: "";
     height: 0.6em;
     width: 0.6em;
     bottom: -0.2em;
     left: 50%;
     transform: translate(-50%) rotate(45deg);
     background: var(--background);
 }

 .tooltip-container:hover .tooltip {
     top: -100%;
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
     scale: 1;
     animation: shake 0.5s ease-in-out both;
 }

 .tooltip-container:hover {
     box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
     color: white;
     border-color: transparent;
 }

 .tooltip-container:hover span:last-child {
     transform: scale(1);
     left: 0;
 }

 .tooltip-container:hover .text {
     opacity: 0;
     top: 0%;
     left: 100%;
     transform: scale(0);
 }

 @keyframes shake {
     0% {
         transform: rotate(0deg);
     }

     25% {
         transform: rotate(7deg);
     }

     50% {
         transform: rotate(-7deg);
     }

     75% {
         transform: rotate(1deg);
     }

     100% {
         transform: rotate(0deg);
     }
 }

 .exploreBtn {
     display: flex;
     align-items: center;
     justify-content: start;
     margin-top: 40px;
 }

 .btn-conteiner {
     display: flex;
     justify-content: center;
     --color-text: #ffffff;
     --color-background: linear-gradient(to right, #499e97, #2e88a3);
     --color-outline: #0a79a580;
     --color-shadow: #0c6e6680;
 }

 .btn-content {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding: 5px 20px;
     text-decoration: none;
     font-family: 'Poppins', sans-serif;
     /* font-weight: 600; */
     /* font-weight: lighter; */
     font-size: 18px;
     color: var(--color-text);
     background: var(--color-background);
     transition: 1s;
     border-radius: 80px;
     box-shadow: 0 0 0.2em 0 var(--color-background);
 }

 .btn-content:hover,
 .btn-content:focus {
     transition: 0.5s;
     -webkit-animation: btn-content 1s;
     animation: btn-content 1s;
     outline: 0.1em solid transparent;
     outline-offset: 0.2em;
     box-shadow: 0 0 0.4em 0 var(--color-background);
 }

 .btn-content .icon-arrow {
     transition: 0.5s;
     margin-right: 0px;
     transform: scale(0.6);
 }

 .btn-content:hover .icon-arrow {
     transition: 0.5s;
     margin-right: 25px;
 }

 .icon-arrow {
     width: 20px;
     margin-left: 15px;
     position: relative;
     top: 6%;
 }

 /* SVG */
 #arrow-icon-one {
     transition: 0.4s;
     transform: translateX(-60%);
 }

 #arrow-icon-two {
     transition: 0.5s;
     transform: translateX(-30%);
 }

 .btn-content:hover #arrow-icon-three {
     animation: color_anim 1s infinite 0.2s;
 }

 .btn-content:hover #arrow-icon-one {
     transform: translateX(0%);
     animation: color_anim 1s infinite 0.6s;
 }

 .btn-content:hover #arrow-icon-two {
     transform: translateX(0%);
     animation: color_anim 1s infinite 0.4s;
 }

 /* SVG animations */
 @keyframes color_anim {
     0% {
         fill: white;
     }

     50% {
         fill: var(--color-background);
     }

     100% {
         fill: white;
     }
 }

 /* Button animations */
 @-webkit-keyframes btn-content {
     0% {
         outline: 0.1em solid var(--color-background);
         outline-offset: 0;
     }
 }

 @keyframes btn-content {
     0% {
         outline: 0.1em solid var(--color-background);
         outline-offset: 0;
     }
 }

 /* Project Page CSS */

 #project {
     max-width: 100%;
     min-height: 140vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: black;
     padding-bottom: 50px;
 }

 .project h1 {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 3.4rem;
     color: whitesmoke;
     padding: 40px 0px;
 }

 .project h1 span {
     background-image: linear-gradient(to right, #61d3c9, #42a3c0);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .title {
     margin-right: 10px;
 }

 .project p {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     font-size: 1rem;
     max-width: 50%;
     margin: 0 auto;
     padding-bottom: 100px;
 }

 .prjBg img {
     margin: 15px 0px;
     min-height: 5vh;
     max-width: 50vh;
 }

 .prjCardContent p {
     text-align: start;
 }

 .projectContainer {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     justify-content: center;
     max-width: 80%;
     margin: 0 auto;

 }

 .projectCard {
     background-color: rgba(13, 13, 15, 0.9);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     min-height: 60vh;
     max-width: 60vh;
     border-radius: 20px;
     margin: 40px 20px;

 }

 .projectCardContent {
     margin: 20px 20px;
 }

 .prjCardBtns {
     display: flex;
     flex-direction: column;
 }

 .projectCardBtns {
     text-align: start;
 }

 .projectCardBtns ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .projectCardBtns ul li {
     display: inline-block;
     margin: 12px 4px;
     /* Adjust as needed */
 }

 .projectCardBtns ul li a {
     text-decoration: none;
     color: whitesmoke;
     padding: 7px 15px;
     /* background-color: darkcyan; */
     /* background: linear-gradient(to right, #499e97, #2e88a3); */
     background-color: rgb(17, 16, 16);
     background-color: rgb(10, 10, 10);
     border-radius: 5px;
     opacity: 0.9;
     font-size: 0.95rem;
 }

 .prjCardContent p {
     display: flex;
     align-items: center;
     justify-content: start;
     margin: 0px 14px;
     font-size: 0.9rem;
     max-width: 100%;
     padding: 0;

     /* line-height: 20px; */
 }

 .prjCardViewBtn {
     display: flex;
     align-items: center;
     justify-content: start;
     margin: 0px 14px;
 }

 .prjCardViewBtn a {
     text-decoration: none;
     color: whitesmoke;
 }

 .btn-conteiner {
     display: flex;
     justify-content: center;
     margin: 20px 0px;
     --color-text: #ffffff;
     --color-background: linear-gradient(to right, #499e97, #2e88a3);
     --color-outline: #0a79a580;
     --color-shadow: #0c6e6680;
 }

 .btn-content {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding: 5px 15px;
     text-decoration: none;
     font-family: 'Poppins', sans-serif;
     /* font-weight: 600; */
     /* font-weight: lighter; */
     font-size: 16px;
     color: var(--color-text);
     background: var(--color-background);
     transition: 1s;
     border-radius: 10px;
     box-shadow: 0 0 0.2em 0 var(--color-background);
 }

 .btn-content:hover,
 .btn-content:focus {
     transition: 0.5s;
     -webkit-animation: btn-content 1s;
     animation: btn-content 1s;
     outline: 0.1em solid transparent;
     outline-offset: 0.2em;
     box-shadow: 0 0 0.4em 0 var(--color-background);
 }

 .btn-content .icon-arrow {
     transition: 0.5s;
     margin-right: 0px;
     transform: scale(0.6);
 }

 .btn-content:hover .icon-arrow {
     transition: 0.5s;
     margin-right: 25px;
 }

 .icon-arrow {
     width: 20px;
     margin-left: 10px;
     position: relative;
     top: 6%;
 }

 /* SVG */
 #arrow-icon-one {
     transition: 0.4s;
     transform: translateX(-60%);
 }

 #arrow-icon-two {
     transition: 0.5s;
     transform: translateX(-30%);
 }

 .btn-content:hover #arrow-icon-three {
     animation: color_anim 1s infinite 0.2s;
 }

 .btn-content:hover #arrow-icon-one {
     transform: translateX(0%);
     animation: color_anim 1s infinite 0.6s;
 }

 .btn-content:hover #arrow-icon-two {
     transform: translateX(0%);
     animation: color_anim 1s infinite 0.4s;
 }

 /* SVG animations */
 @keyframes color_anim {
     0% {
         fill: white;
     }

     50% {
         fill: var(--color-background);
     }

     100% {
         fill: white;
     }
 }

 /* Button animations */
 @-webkit-keyframes btn-content {
     0% {
         outline: 0.1em solid var(--color-background);
         outline-offset: 0;
     }
 }

 @keyframes btn-content {
     0% {
         outline: 0.1em solid var(--color-background);
         outline-offset: 0;
     }
 }

 .projectPageBtn {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     padding-top: 50px;
 }

 .projectPageBtn a {
     color: whitesmoke;
     text-decoration: none;
     padding: 10px 32px;
     background: linear-gradient(to right, #499e97, #2e88a3);
     border-radius: 10px;
     font-size: 1.2rem;

 }

 /* Experience section css */

 #experiencePage {
     /* min-height: 100vh; */
     max-width: 100%;
     margin-top: 100px;
     margin-bottom: 200px;
 }

 .experience {
     max-width: 45%;
     margin: 20px auto;
 }

 @keyframes appear {
     from {
         opacity: 0;
         transform: scaleX(0);
     }

     to {
         opacity: 1;
         transform: scaleX(1);
     }
 }


 #experiencePage h1 {
     font-size: 3.5rem;
     color: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 50px;
     text-align: center;

 }

 #experiencePage h1 span {
     background-image: linear-gradient(to right, #61d3c9, #42a3c0);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .experience_banner {
     background: linear-gradient(to left, #499e97, #2e88a3);
     min-height: 8vh;
     border-radius: 6px;
     /* max-width: 100vh; */
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
 }

 .experience_banner h3 {
     /* font-weight: 100; */
     font-size: 1.1rem;
 }

 .left_banner {
     padding: 0px 30px;
 }

 .right_banner {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .right_banner li {
     font-size: 1.1rem;
     list-style: none;
     padding: 0px 40px;
 }

 .right_banner i {
     padding: 0px 40px;
     font-size: 1.5rem;

 }

 .first_line {
     display: flex;
     align-items: center;
     justify-content: flex-start;
 }

 .first_line li {
     list-style: none;
     color: whitesmoke;
     /* font-weight: 100; */
     padding: 10px 10px;
     font-size: 0.85rem;
 }

 .first_line li i {
     font-size: 1.2rem;
     margin: 0px 10px;
 }

 .second_line {
     padding: 10px 20px;
 }

 .second_line p {
     font-size: 0.9rem;
     /* font-weight: 100; */
     color: white;
 }

 .third_line {
     display: flex;
     align-items: center;
     padding: 10px 10px;
 }

 .third_line a {
     margin: 0px 5px;
     padding: 6px 20px;
     color: white;
     background: linear-gradient(to right, #499e97, #2e88a3);
     background: darkcyan;
     text-decoration: none;
     font-size: 0.8rem;
     border-radius: 20px;
     /* font-weight: 100; */
 }

 .dropdownContent {
     background: linear-gradient(to right, #499e97, #2e88a3);
     /* background-color: rgba(20, 20, 20, 0.9); */
     margin: 10px 0px;
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .rotate {
     transform: rotate(180deg);
     transition: transform 0.3s ease;
 }

 /* CARDS SECTION */
 #servicesPage {
     min-height: 90vh;
     max-width: 100%;
 }

 .servicesPage {
     max-width: 60%;
     margin: 200px auto;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: column;

 }

 .servicesPage h3 {
     font-size: 1.5rem;


 }

 .servicesPage h1 {
     font-size: 3.4rem;
     color: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 30px;
     padding-bottom: 60px;
 }

 .servicesPage span {
     background-image: linear-gradient(to right, #61d3c9, #42a3c0);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

 }

 .card_container {
     display: flex;
     align-items: center;
     justify-content: space-between;

 }

 .card_contant {
     border: 1px solid rgb(109, 108, 108);
     min-height: 38vh;
     width: 45vh;
     color: whitesmoke;
     padding: 10px 20px;
     display: flex;
     align-items: start;
     justify-content: space-evenly;
     flex-direction: column;
     /* cursor: pointer; */
     margin: 0px 30px;
     border-radius: 20px;

 }



 .card_contant h3 {
     font-size: 1.2rem;
     padding: 0px 14px;
     font-weight: 100;
 }

 .card_contant h2 {
     font-size: 1.5rem;
     /* font-weight: 300; */
     padding: 0px 14px;
 }

 .card_contant p {
     font-size: 1rem;
     font-weight: 100;
     padding: 0px 14px;
     width: 100%;
     text-align: start;
 }


 .card_contant a {
     text-decoration: none;
     color: whitesmoke;
     font-size: 1.1rem;
     padding: 10px 14px;
     /* padding: 14px 0px; */
 }

 .card_contant:hover {
     background: linear-gradient(to bottom, #23615c, #42a3c0);
     /* background-color: darkcyan; */
 }


 /* CONTACT PAGE CSS */


 #contactPage {
     min-height: 115vh;
     max-width: 100%;
 }

 .contactPage {
     max-width: 65%;
     margin: 0 auto;
 }

 .contactPageContent {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .contactPageLeft h1 {
     font-size: 3rem;
     /* font-weight: lighter; */
 }

 .contactPageLeft li {
     list-style: none;
     padding: 20px 0px;
 }

 .contactMail {
     display: flex;
     align-items: center;
     justify-content: start;
     background-color: rgb(24, 23, 23);
     padding: 15px 10px;
     border-radius: 25px;
 }

 .contactIcon a {
     text-decoration: none;
 }

 .contactIcon a i {
     font-size: 1.5rem;
     color: darkcyan;
     background-image: linear-gradient(to right, #61d3c9, #42a3c0);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     padding: 12px;
     border: 1px solid gray;
     border-radius: 30%;

 }

 .contactMail li {
     list-style: none;
 }

 .contactMail li a {
     text-decoration: none;
     color: whitesmoke;
 }

 .contactIcon {
     padding: 0px 15px;

 }

 .contactIcon h3 {
     font-size: 1rem;
     padding: 0;
 }

 .contactIcon li {
     padding: 5px 0px;
 }

 .information {
     background-color: rgb(29, 28, 28);
     background: linear-gradient(to right, #50aca4, #54bedf);
     padding: 40px;
     border-radius: 20px;
 }

 .information h1 {
     font-size: 2rem;
     padding: 20px 0px;
 }

 .information h1 i {
     margin: 0px 10px;
     font-size: 1.7rem;
 }

 .information-one {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .information-one input {
     padding: 0px 20px;
     width: 50vh;
     height: 6vh;
     font-family: "Poppins", sans-serif;
     font-size: 1rem;
     border-radius: 10px;
     margin: 8px 0px;
     border-color: transparent;
 }

 .information-one ::placeholder {
     font-size: 1rem;
 }

 .info-four h4 {
     padding: 10px 0px;
 }

 .information-one textarea {
     font-size: 1rem;
     font-family: "Poppins", sans-serif;
     border-radius: 10px;
     border-color: transparent;
     padding: 10px;
 }

 .info-five {
     display: flex;
     align-items: center;
     justify-content: start;
 }

 .info-five a {
     text-decoration: none;
     margin: 20px 0px;
 }

 button {
     font-family: inherit;
     font-size: 18px;
     background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
     color: white;
     padding: 0.8em 1.2em;
     display: flex;
     align-items: center;
     justify-content: center;
     border: none;
     border-radius: 10px;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
     cursor: pointer;
     transition: all 0.3s;
 }

 button:hover {
     transform: translateY(-3px);
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
 }

 button:active {
     transform: scale(0.95);
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
 }

 button span {
     display: block;
     margin-left: 0.4em;
     transition: all 0.3s;
 }

 button svg {
     width: 18px;
     height: 18px;
     fill: white;
     transition: all 0.3s;
 }

 button .svg-wrapper {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.2);
     margin-right: 0.5em;
     transition: all 0.3s;
 }

 button:hover .svg-wrapper {
     background-color: rgba(255, 255, 255, 0.5);
 }

 button:hover svg {
     transform: rotate(45deg);
 }

 /* FOOTER SECTON CSS */

 #footer {
     max-width: 100%;
     min-height: 50vh;
     background-color: rgb(29, 28, 28);
     display: flex;
     align-items: center;
     /* background: linear-gradient(to right, #3293a1 0%, #4f7dbd 100%); */
     background-color: #339989;
 }

 .footer {
     max-width: 80%;
     margin: 0 auto;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
 }

 .footerLeftContent {
     max-width: 30%;
 }

 .footerLogo h1 {
     font-size: 2.2rem;
     font-family: "Raleway", sans-serif;
     padding-bottom: 20px;
 }

 .footerLogo span {
     background-image: linear-gradient(to right, #61d3c9, #42a3c0);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .footerContent p {
     font-size: 0.9rem;
 }

 .footerLinks ul {
     display: flex;
     align-items: center;
     padding: 30px 0px;
     margin-left: -10px;

 }

 .footerLinks ul li {
     list-style: none;
 }

 .footerLinks ul li a {
     font-size: 1.2rem;
     text-decoration: none;
     margin: 0px 15px;
 }

 .footerLinks ul li a i {
     font-size: 1.2rem;
     color: whitesmoke;
 }

 .footerLinks ul li a:hover {
     background-image: linear-gradient(to right, #61d3c9, #219ec4);

     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }

 .footerRightCols {
     display: flex;
     align-items: start;
     justify-content: space-evenly;
 }

 .footerCol {
     padding: 0px 70px;
 }

 .footerCol h2 {
     padding: 10px 0px;
 }

 .footerCol ul li {
     list-style: none;
     padding: 5px 0px;
 }

 .footerCol ul li a {
     color: whitesmoke;
     text-decoration: none;
     font-size: 1rem;
     font-weight: lighter;
 }

 .contactColRow {
     display: flex;
     align-items: center;
     padding: 10px 0px;
 }

 .contactColRowIcon i {
     font-size: 1.2rem;
 }

 .contactColRowContent li {
     list-style: none;
     padding: 3px 0px;
 }

 .contactColRowContent li a {
     text-decoration: none;
     color: whitesmoke;
     font-weight: lighter;
     padding: 0px 20px;
 }

 .footerCopyright li {
     list-style: none;
     font-size: 0.9rem;
 }